body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}

.header, .divider, .hero, .party, .quote, .call-to-action, .footer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    justify-content: center;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.header, .hero, .footer {
    background-color: maroon;
}

.header, .hero, .call-to-action, .footer {
    color: #F9FAF8;
}

.header-bundle {
    flex-basis: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero {
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 70px;
    margin-bottom: auto;
}

.hero-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    flex-basis: 800px;
}

.hero-text {
    flex: 1 10 300px;
}

.hero-image {
    flex: 1 1 300px;
    min-width: 200px;
}

.party {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.quote {
    background-color: #ebe5e5;
    flex-direction: row;
    justify-content: center;

    padding: 50px 50px;
    font-weight: lighter;
}

.quote-jar {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
}

.quote p i {
    font-size: 24px;
}

#author {
    align-self: flex-end;
    padding-right: 30px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action h4, .call-to-action p {
    margin: 0;
    padding: 0;
}

.call-to-action p {
    font-weight: lighter;
}

#call-to-action-capsule {
    background-color: crimson;
    border-radius: 6px;

    padding: 20px 0px;
    margin: 50px auto;

    flex-grow: 0;
    flex-shrink: 50;
    flex-basis: 600px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.join-button {
    border-radius: 4px;
    border: 1px solid white;

    width: 100px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    justify-content: center;
    padding: 10px;
    font-size: 8px;
}