body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}

.quote p i {
    font-size: 24px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    flex-direction: row;
    justify-content: space-between;
}

.header, .hero {
    background-color: #1F2937;
}

.header, .hero, .random, .quote, .footer {
    display: flex;
    padding: 0px 200px;
}

.header, .hero, .footer {
    color: #F9FAF8;
}

.hero {
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.hero, .random, .quote, .footer {
    flex-grow: 1;
}

.footer {
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box {
    background-color: red;
    height: 100px;
    width: 100%;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 50px 300px;
}

#btn-up {
    height: fit-content;
    border-color: white;
}

#origin {
    align-self: flex-end;
}